
/* header style start */

.sapMITBScrollContainer{
	margin:0px !important;	
}

.cmtIconTabBar .sapMITH {
    margin-top: 5px;
}

.cmtLabelUname.sapMLabel{
	font-size: 15px !important;
    color: #4872cc !important;
    padding-top: 6px !important;
}

.emp-head{
	text-transform: uppercase;
    color: #1759af  !important;
    width: 100% !important;
}

.sapMITBSepIcon{
	color: #009de0 !important;
}


.sapMITBHorizontal.sapMITBFilter:hover .sapMITBFilterIcon
{
	    color: #fff;
	    background:#009de0;
}


.sapMITBHorizontal.sapMITBFilter:hover .sapMITBHorizontalWrapper .sapMITBText{
	color:#a0def9;
}

.sapMITBHorizontal.sapMITBSelected .sapMITBHorizontalWrapper .sapMITBText{
	color:#a0def9 !important;
}

.sapMIBar.sapMHeader-CTX, .sapMPageHeader{
	display:none;
}


.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd{	
	height: 32px !important;
    border-radius: 14px !important;
}

.cmtIconTabBar .sapMITBSelected>.sapMITBContentArrow{
	
	border:0px;
}

.sapMPage>.sapMPageHeader + section, .sapMPage>.sapMPageSubHeader + section, .sapMPage>.sapMPageHeader + .sapUiHiddenPlaceholder + section
{
	top:35px !important;	
}

/* header style end */





/* tab styling start*/

.sapUiTabBarCnt, .sapUiTab, .sapUiTabSel, .sapUiTabDsbl{
	height:auto !important;	
}

.sapUiTab, .sapUiTabDsbl{
    border: 1px solid #134f9c !important;
    color: #063b7f !important;
    box-shadow: #ccebf9 0 21px 0 inset;
    font-weight: bold;
    background-color: #a5b8da;
    background-image: linear-gradient(to bottom,#98bfd0,#b9e9ff);
   
}

.sapUiTabSel, .sapUiTab, .sapUiTabDsbl
{	
    cursor: pointer; 
	padding: 11px 20px !important;
	font-size: 12px;
    border-radius: 14px 14px 0px 0px !important;
    text-decoration: none;
    display: inline-block;
    text-transform:uppercase;
    font-weight:normal !important;
    border-bottom: 0px !important;
    font-weight: bold !important;
}

.sapUiTab:hover, .sapUiTabSel:hover, .sapUiTabSel{
	border-bottom-width: 0!important;
	background-image: linear-gradient(to bottom,#0d2544,#1458af) !important;
    border: 1px solid #304977 !important;
    box-shadow: #063b7f 0 21px 0 inset;
    color: #fff !important;
}


.sapUiTabBar .sapUiTabStripScrollContainer{
	position:static !important;
}


.sapUiTabBarCnt, .sapUiTab, .sapUiTabSel, .sapUiTabDsbl{
	margin-top: 0px !important;
}



.sapUiTabSel:focus,
.sapUiTab:focus{
	outline:none !important;
}

.sapUiTabPanel{
	padding: 6px 8px 8px 8px;
}

.sapMListTbl th {
   background: #e8e8e8!important;
    border-bottom: 1px solid #b7b5b5!important;
    border-top: 0px solid #000!important;
}

.sapMListTbl {
    border-bottom: 1px solid #ccc!important;
    border-top: 1px solid #ccc!important;
    border-left: 1px solid #ccc!important;
    border-right: 1px solid #ccc!important;
}

.sapMLabel.sapMLabelRequired{
	text-transform: uppercase;
    color: #1f5eb9;
}

.sapUiTf:not(.sapUiTfInner) {
   width:55% !important;
}

.cmtLayout .sapUiMltPadRight{
	width:auto !important;
}

.sapUiTabPanel{
	margin-top:-1px;
	border-top: 2px solid #063b7f !important;
}


.sapUiTabBar{
	height: 38px !important;
	border:0px !important;
}

.sapMListTblCell{
	vertical-align:middle !important;
}

/* tab styling end*/




/* tile style start */

.sapMStdTileTopRow{
	margin-bottom: 0px !important;
    text-align: center;
    height: auto !important;
    margin-bottom: 1rem;
    padding: 3rem 1rem 1rem 1rem !important;
        background: #96e3fb !important
}

.sapMStdTileIconDiv{
	float:none !important;
}
.sapUiIcon::before
{
	cursor:pointer;
}

.sapMTileContent{
	height:auto !important;
	width:auto !important;
}


.sapMStdTileBottomRow {
    height: 43px !important;
    border: 1px solid #fff;      
    display: table;
    width: 99% !important;
    padding: 15px 0px !important;
}



/* level 1 style */


.sapMTile{
	background-color:transparent !important
}

.cmtTile .sapMStdTileBottomRow{
	background: #078db7 !important;
	border-radius:1px;
	transition:all 0.3s ease-in !important;	
}

.cmtTile-hover:hover .sapMStdTileBottomRow{
	background: #96e3fb  !important;
}


.cmtTile-hover:hover .sapMStdTileTopRow
{
	background-color: #fff !important;
}

.cmtTile-hover{
	transition:all 0.3s ease-in !important;	
}

.cmtTile-hover:hover{
	transform:scale(1.2);
}

.cmtSelectedTile.sapMTile,
.cmtSelectedTile .sapMStdTileTopRow {
 background: #fff !important;
} 

 .cmtSelectedTile .sapMStdTileBottomRow:before{
	content: "";
    position: absolute;
    left: 0px;
    width: 99.4%;
    height: 0;
    /* border-left: 15px solid transparent; */
    /* border-right: 15px solid transparent; */
    /* border-top: 21px solid #ffffff; */
    bottom: 0px;
    border-bottom: 8px solid #fff;
    transition:all 0.3s ease-in !important;	
}


.cmtSelectedTile:hover .sapMStdTileBottomRow:before{
	
transform:scale(1.2);
}

.sapMTile:focus{
	position:static !important;
}
.cmtTile-hover:hover .cmtSelectedTile .sapMStdTileBottomRow:before{
	content: "";
    width: 3px;
    height: 47px;
    background: #000;
    position: absolute;
    bottom: -43px;
    left: 55%;
}

.cmtSelectedTile .sapMStdTileIconDiv .sapUiIcon::before
{
	color:#0f4898;
}

.cmtSelectedTile.sapMTile.sapMStdTileBottomRow {
    background: #96e3fb !important;
}

.cmtTile .sapMStdTileBottomRow .sapMStdTileTitle,
.cmtTile-sublevel .sapMStdTileBottomRow .sapMStdTileTitle{
	color:#fff !important;
	text-shadow: 1px 1px 1px #000;	
}

.cmtTile-sublevel.sapMTile{
	background-color:#fff !important;
}

.cmtTile-hover:hover .sapMStdTileBottomRow .sapMStdTileTitle{
	color:#023992 !important;
	text-shadow: 1px 1px 1px #fff;
}

html:not([data-sap-ui-browser^="ie"]):not([data-sap-ui-browser^="ed"]) .sapUiIcon:focus{
	outline:none !important;
}


/* level 1 style */

.cmtTile-sublevel .sapMStdTileBottomRow{
	background: #069bca !important;	
	margin-top:0px !important;
}



.cmtTile-sublevel:before{
	content: "";
    position: absolute;
    top: -64px;
    left: 56%;
    width: 3px;
    height: 72px;
    background-color: #fff;
}

.Level1-active{
	background:#000;
}


.sapMStdTileTitle{
	height:auto !important;
	text-align:center !important;
	color: #fff; 
}

.sapMTile{
	border:0px !important;
}

.sapMStdTileIconDiv .sapUiIcon::before{
	font-size: 45px !important;
}


.sapMStdTileBottomRow .sapMStdTileTitle{
	color: #000 !important;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cmtSelectedlevel1{	
    border-bottom: 2px solid #fff;
}

/* tile style end */



/* emp details */

#__xmlview0--emp-photo{
	float:left;
}


#__xmlview0--emp-info{
	float:left;
}


